<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>{{queystring}}| Jooble</title>
            <style type="text/css">
            
    
            </style>
            <script type="text/javascript"></script>
            <!-- styles -->
                <link href="../../static/css/joobleresults.css" rel="stylesheet">
            <!-- end styles -->
            <!-- scripts -->
                <!--<script src="jooblebrowerdetect.js"></script>-->
            <!-- end scripts-->
        </head>
        <body>
            <!-- begin HEADER -->
            <div id="" class="joobleheader"><!-- start header -->
                <div id="" class="brand">
                    <a href="#">Jooble</a>
                </div>
                <div class="searchformcontainer" id="searchformcontainer">
                        <form action="/tk/" method="get" name="joobleseachform">
                            <input autofocus type="text" class="textinput" id="textinput" name="query"
                             onfocus="removeborder()" onclick="removeborder()" onkeypress="removeborder()" placeholder="{{jobtitle}}"/>
                            <input type="submit" name="search" value="" class="search">
                        </form>
                        
                </div>
            </div><!-- end header-->
            
            <!-- end HEADER and FOOTER -->
            
            <!-- START BODY -->
            
            <div class="resultscontainer">
       
                <div class="main-row">
                    <div class="resulttitle-row">
                        <a href="#some url">Jooble The Best Job Search in Ghana and Beyond</a>                   
                    </div>
                    <div class="resulturl-row">
                        <p>jooobl.com/aboutjooble</p>
                    </div>
                    <div class="resultcontent-row">
                        <p>Jooble is the best Search engine in ghana ,it was made in 2045 by PaoPao and CaoCao at the university of ghana
                        So come and go
                        </p>
                    </div>
                    
                 </div>
                <div class="main-row">
                    <div class="resulttitle-row">
                        <a href="#some url">Jooble The Best Job Search</a>                   
                    </div>
                    <div class="resulturl-row">
                        <p>jooobl.com/aboutjooble</p>
                    </div>
                    <div class="resultcontent-row">
                        <p>Jooble is the best Search engine in ghana ,it was made in 2045 by PaoPao and CaoCao at the university of ghana
                        So come and go...........thsi has more tha the other text test me is u can
                        </p>
                    </div>
                    
                 </div>
                <div class="main-row">
                    <div class="resulttitle-row">
                        <a href="#some url">Jooble The Best Job Search for Ghanaians</a>                   
                    </div>
                    <div class="resulturl-row">
                        <p>jooobl.com/aboutjooble</p>
                    </div>
                    <div class="resultcontent-row">
                        <p>Jooble is the best Search engine in ghana ,it was made in 2045 by PaoPao and CaoCao at the university of ghana
                        So come and go
                        </p>
                    </div>
                    
                    
                 </div>
                <div class="main-row">
                    <div class="resulttitle-row">
                        <a href="#some url">Jooble The Best Job Search</a>                   
                    </div>
                    <div class="resulturl-row">
                        <p>jooobl.com/aboutjooble</p>
                    </div>
                    <div class="resultcontent-row">
                        <p>Jooble is the best Search engine in ghana ,it was made in 2045 by PaoPao and CaoCao at the university of ghana
                        So come and go...........thsi has more tha the other text test me is u can
                        </p>
                    </div>
                    
                 </div>
                <div class="main-row">
                    <div class="resulttitle-row">
                        <a href="#some url">Jooble The Best Job Search</a>                   
                    </div>
                    <div class="resulturl-row">
                        <p>jooobl.com/aboutjooble</p>
                    </div>
                    <div class="resultcontent-row">
                        <p>Jooble is the best Search engine in ghana ,it was made in 2045 by PaoPao and CaoCao at the university of ghana
                        So come and go...........thsi has more tha the other text test me is u can
                        </p>
                    </div>
                    
                 </div>
                
                <div class="main-row">
                    <div class="resulttitle-row">
                        <a href="#some url">Jooble The Best Job Search</a>                   
                    </div>
                    <div class="resulturl-row">
                        <p>jooobl.com/aboutjooble</p>
                    </div>
                    <div class="resultcontent-row">
                        <p>Jooble is the best Search engine in ghana ,it was made in 2045 by PaoPao and CaoCao at the university of ghana
                        So come and go...........thsi has more tha the other text test me is u can
                        </p>
                    </div>
                    
                 </div>
                
                <div class="main-row">
                    <div class="resulttitle-row">
                        <a href="#some url">Jooble The Best Job Search</a>                   
                    </div>
                    <div class="resulturl-row">
                        <p>jooobl.com/aboutjooble</p>
                    </div>
                    <div class="resultcontent-row">
                        <p>Jooble is the best Search engine in ghana ,it was made in 2045 by PaoPao and CaoCao at the university of ghana
                        So come and go...........thsi has more tha the other text test me is u can
                        </p>
                    </div>
                    
                 </div>
                
                
                <div class="main-row">
                    <div class="resulttitle-row">
                        <a href="#some url">Jooble The Best Job Search</a>                   
                    </div>
                    <div class="resulturl-row">
                        <p>jooobl.com/aboutjooble</p>
                    </div>
                    <div class="resultcontent-row">
                        <p>Jooble is the best Search engine in ghana ,it was made in 2045 by PaoPao and CaoCao at the university of ghana
                        So come and go...........thsi has more tha the other text test me is u can
                        </p>
                    </div>
                    
                 </div>
                
                
                <div class="main-row">
                    <div class="resulttitle-row">
                        <a href="#some url">Jooble The Best Job Search</a>                   
                    </div>
                    <div class="resulturl-row">
                        <p>jooobl.com/aboutjooble</p>
                    </div>
                    <div class="resultcontent-row">
                        <p>Jooble is the best Search engine in ghana ,it was made in 2045 by PaoPao and CaoCao at the university of ghana
                        So come and go...........thsi has more tha the other text test me is u can
                        </p>
                    </div>
                    
                 </div>
                
                <div class="main-row">
                    <div class="resulttitle-row">
                        <a href="#some url">Jooble The Best Job Search</a>                   
                    </div>
                    <div class="resulturl-row">
                        <p>jooobl.com/aboutjooble</p>
                    </div>
                    <div class="resultcontent-row">
                        <p>Jooble is the best Search engine in ghana ,it was made in 2045 by PaoPao and CaoCao at the university of ghana
                        So come and go
                        </p>
                    </div>
                    
                 </div>
                
            </div><!-- end resultscontainer-->
            <div id="id" class="jooblefooter" onload="test();"><!-- start footer-->
                <div class="pagenation">
                    
                    <div class="value">
                        <a href="#1">1</a>
                    </div>
                    <div class="value">
                        <a href="#1">2</a>
                    </div>
                    <div class="value">
                        <a href="#1">3</a>
                    </div>
                    <div class="value">
                        <a href="#1">4</a>
                    </div>
                    <div class="value">
                        <a href="#1">5</a>
                    </div>
                    <div class="value">
                        <a href="#1">6</a>
                    </div>
                    <div class="value">
                        <a href="#1">7</a>
                    </div>
                    <div class="value">
                        <a href="#1">8</a>
                    </div>
                    <div class="value">
                        <a href="#1">9</a>
                    </div>
                    <div class="value">
                        <a href="#1">10</a>
                    </div>
                    <div class="value"><a href="#prev">prev</a></div>
                    <div class="value"><a href="#next">next</a></div>
                    
                    
                </div>
                
            </div><!-- end footer -->
                
        
            <!-- END BODY -->

        </body>
        
    </html>
