<!DOCTYPE html>
    <html lang="en">
        <head>
            <!--{% block title %}--><title></title><!--{% endblock %}-->
            <style type="text/css">
            
    
            </style>
            <script type="text/javascript"></script>
            <!-- styles -->
                <link href="joobleresults.css" rel="stylesheet">
            <!-- end styles -->
            <!-- scripts -->
                
                <script src="jooble.js"></script>
                <script src="jooblebrowerdetect.js"></script>
            <!-- end scripts-->
        </head>
        <body onload="makeactive();">
            <!-- begin HEADER and FOOTER -->
            <div id="" class="joobleheader"><!-- start header -->
                <div id="" class="brand">
                    <a href="#">Jooble</a>
                </div>
                <div class="putright">
                    some user info
                </div>
            </div><!-- end header-->
            <div id="id" class="jooblefooter" onload="test();"><!-- start footer-->
                
            </div><!-- end footer -->
            <!-- end HEADER and FOOTER -->
            
            <!-- START BODY -->
            <div class="jooblesearchform">
                <div class="container">
                    <div class="searchform">
                        <form action="#Action" method="get" name="joobleseachform">
                            <input type="text" class="textinput" id="textinput" name="joobletextinput"
                                   onclick="removeborder()" onkeypress="removeborder()" onmousemove="removeborder()" placeholder="Jooble Search"/>
                        </form>
                    </div><!--end searchform-->
                    
                </div><!--end container-->
                
            </div><!--end joobleseachform-->
            
            <div class="resultscontainer">
       
                <div class="main-row">
                    <div class="resulttitle-row">
                        <a href="#some url">Jooble The Best Job Search</a>                   
                    </div>
                    <div class="resulturl-row">
                        <p>jooobl.com/aboutjooble</p>
                    </div>
                    <div class="resultcontent-row">
                        <p>Jooble is the best Search engine in ghana ,it was made in 2045 by PaoPao and CaoCao at the university of ghana
                        So come and go
                        </p>
                    </div>
                    <div class="resulttitle-row">
                        <a href="#some url">Jooble The Best Job Search</a>                   
                    </div>
                    <div class="resulturl-row">
                        <p>jooobl.com/aboutjooble</p>
                    </div>
                    <div class="resultcontent-row">
                        <p>Jooble is the best Search engine in ghana ,it was made in 2045 by PaoPao and CaoCao at the university of ghana
                        So come and go
                        </p>
                    </div>
                    <div class="resulttitle-row">
                        <a href="#some url">Jooble The Best Job Search</a>                   
                    </div>
                    <div class="resulturl-row">
                        <p>jooobl.com/aboutjooble</p>
                    </div>
                    <div class="resultcontent-row">
                        <p>Jooble is the best Search engine in ghana ,it was made in 2045 by PaoPao and CaoCao at the university of ghana
                        So come and go
                        </p>
                    </div>
                    <div class="resulttitle-row">
                        <a href="#some url">Jooble The Best Job Search</a>                   
                    </div>
                    <div class="resulturl-row">
                        <p>jooobl.com/aboutjooble</p>
                    </div>
                    <div class="resultcontent-row">
                        <p>Jooble is the best Search engine in ghana ,it was made in 2045 by PaoPao and CaoCao at the university of ghana
                        So come and go
                        </p>
                    </div>
                    <div class="resulttitle-row">
                        <a href="#some url">Jooble The Best Job Search</a>                   
                    </div>
                    <div class="resulturl-row">
                        <p>jooobl.com/aboutjooble</p>
                    </div>
                    <div class="resultcontent-row">
                        <p>Jooble is the best Search engine in ghana ,it was made in 2045 by PaoPao and CaoCao at the university of ghana
                        So come and go
                        </p>
                    </div>
                    <div class="resulttitle-row">
                        <a href="#some url">Jooble The Best Job Search</a>                   
                    </div>
                    <div class="resulturl-row">
                        <p>jooobl.com/aboutjooble</p>
                    </div>
                    <div class="resultcontent-row">
                        <p>Jooble is the best Search engine in ghana ,it was made in 2045 by PaoPao and CaoCao at the university of ghana
                        So come and go
                        </p>
                    </div>
                    <div class="resulttitle-row">
                        <a href="#some url">Jooble The Best Job Search</a>                   
                    </div>
                    <div class="resulturl-row">
                        <p>jooobl.com/aboutjooble</p>
                    </div>
                    <div class="resultcontent-row">
                        <p>Jooble is the best Search engine in ghana ,it was made in 2045 by PaoPao and CaoCao at the university of ghana
                        So come and go
                        </p>
                    </div>
                 </div>
                
        
            <!-- END BODY -->

        </body>
        
    </html>
