{% extends "base.html" %}


{% block content %}
<body>
 
     <div id='toppane'>
     <div class='wrapper'>
          <h1><a href='/'>Jooble</a><h1>
     </div>
     </div>

     <div id='middlepane'>
                     <!--
                     <div class='search'>
                     </div>-->
                    
                
                     
                             <div class='formdiv' '>
                                   <p>At jooble We give you bthe best job index in Ghana</p>
                                   <form method="get"  action="/search/jobtitle">
                                   <input type="search" name='job' value="Enter job title here" autofocus/>
                                   <button type="submit" id="submit_button" >Search</button>
                                   </form>
                              </div>
                               

                              
                      
     </div>
 <div id='social_nc'>
                                    <iframe width="43" frameborder="0" height="190" src="/social_media" marginheight="0" marginwidth="0" scrolling="no">
                                   </iframe>



    </div>

<div id='bottom'> 
</div>


    

</body>



{% endblock content %}
