{% extends "base.html" %}

{% block content %}
<script src="/static/bootstrap/js/jquery.js" ></script>
<script>
$('document').ready(
function ()
{       $('#searchform').submit(
        function(){
                    $('#loading_image').show();
                    return true;
                    }


				);
	
        
}

)
</script>

<body id='results_body '>
<div id='wrapper1'>
 
     <div id='toppane' style="line-height:22px;">
     <div class='wrapper'>
          
          <h1><a href='/search' style="float:left; margin:2px 19px;">Jooble</a></h1>
           <div class="searchform" style="">
                        <form action="/search/jobtitle" method="get" >
                            <input type="text"  value='{{value}}' name='job' autofocus autocomplete="false" id="search_form"/>
                           <button id="results_button"> Search</button>
                        </form>
                    </div>
           <div>
           
</div>
          <!--<h1><a href='/'>Jooble</a></h1> -->
     </div>
     
     </div>

  
               <div class="resulttitle-row" style="background-color:#fafafa;">
               <div style="margin:0px 0 3px 120px; width:670px; padding: 60px 40px 30px 10px;">
		{% if length == 0 %}
                        <h1 style="height:200px; padding-top:22px;">Sorry...No results found</h1>
                      
		{% else %}
			  <span > <h6>About &nbsp{{length}} &nbsp results</h6></span>
                         
                          {% for results in final_results.object_list %} 
	               
                       
        
                        <a href="{{results.url}}" style="font-size:15px; text-decoration:underline; line-height:4px;">{{results.title}}</a><br/>
			 <strong>{{results.url}}</strong> </br>
                        <small>{{results.body|truncatewords:"20"}}
</small></br></br>
                      
                       
                      {% endfor %}
                      
                     
		{% endif %}                
                    






                   



                 </div>
                 </div>

             
                              
                      
     
 
<div id='bottom'> 
 <center><small>© 2013 Jooble ... All Rights Reserved.</small>&nbsp&nbsp&nbsp<a>About</a> &nbsp&nbsp&nbsp<a>Blog</a>  &nbsp&nbsp&nbsp<a>Press &nbsp&nbsp&nbsp</a> <a>Contact &nbsp&nbsp&nbsp</a></center>
</div>
<!--
<div id='bot'> 
 
</div>
-->


    
</div>
</body>
<script type="text/javascript">
var search_input = document.getElementById('submit_button');
search_input.addEventListener('click', function(){ window.location.href="/static/assets/bootstrap/img/ajax-loader.gif"}, false);



</script>


{% endblock content %}
